.MuiCard-root.product-card {
  background-color: #111;
  color: #c9d1d9;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.MuiCard-root.product-card:hover {
  transform: scale(1.05);
}

.product-card .content {
  padding-bottom: 0;
}

.product-card .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card p {
  color: #c9d1d9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card .price {
  margin-top: 10px;
  color: #03dac5;
}

.product-card .custom-button {
  width: 100%;
  color: #8ea3a1;
}

.product-card .custom-button:hover {
  background-color: #03dac5;
  color: #000000;
}

.product-card .custom-button svg {
  margin-right: 10px;
}

.MuiCardActions-root.actions-content.MuiCardActions-spacing {
  border-top: 1px solid #ffffff54;
}

.custom-card .price {
  margin-top: 10px;
  color: #ffffff;
  font-size: 18px;
}

.custom-card .custom-button:hover {
  background-color: #3556fa;
  color: #fff;
}

.custom-card .custom-button svg {
  margin-right: 10px;
  color: #ffa7a7;
}