.MuiCard-root.custom-card {
    background-color: #21262d;
    color: #c9d1d9;
    transition: all 0.5s ease-in-out;

  }
  
  .MuiCard-root.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 5px #8d8f8e;
  }
  
  .custom-card .content {
    padding-bottom: 0;
  }
  
  .custom-card .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .custom-card .card-image {
    padding: 10px 10px 0 10px;
    object-fit: cover;
    width:56vh;
    height:35vh;
  }
  
  .custom-card p {
    color: #c9d1d9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .custom-card .price {
    margin-top: 10px;
    color: #03dac5;
  }
  
  .custom-card .basket-item-price {
    color: #03dac5;
    margin-bottom: 0;
  }
  
  .actions-content {
    display: flex;
  }
  
  .actions-content h2 {
    flex-grow: 1;
  }
  
  .custom-card .custom-button {
    color: #03dac5;
  }
  
  .custom-card .custom-button:hover {
    background-color: #bb86fc;
    color: #c9d1d9;
  }
  
  .custom-card .custom-button svg {
    margin-right: 10px;
  }
  
  .custom-card .increase-product-quantity {
    color: #03dac5;
    border-color: #03dac5;
  }
  