.MuiAppBar-colorPrimary.custom-navbar {
  background-color: #ffa7a7;
  }
  
  .MuiAppBar-colorPrimary.custom-navbar > div > div {
    padding: 0;
  }
  .basket-wrapper {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
  }
  
  .custom-navbar .custom-title {
    display: flex;
  }
  
  .custom-navbar .custom-title .logo {
    width: 25vh;
    height: 50px;
  }
  
  .basket-wrapper .custom-basket {
    font-size: 45px;
    color: #fff;
  }
  
  .basket-wrapper strong {
    color: #bb86fc;
  }
  

  ul > li{
   display: inline-block;
  }

  li .links__menu {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
  }