.footer {
     color: #000;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .hello__world {
    background-color: #fff;
    height: 10vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid rgb(216, 216, 216);
  }
  .visa_id {
    margin-top: 4vh;
    width: 80px;
  }
  