.banner {
    padding-top: 380px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: #ffa7a7;
    background-image: linear-gradient(to bottom right, #ffa7a7, #e3edfc);
  }
  
  .banner > div > div {
    align-items: center;
  }
  
  .banner .brand {
    display: flex;
    align-items: center;
  }
  
  .banner .brand img {
    width: 100%;
    margin-top: -350px;
  }
  
  
  .banner .title {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    color: #263238;
  }
  
  .banner a.shopping-button {
    color: #fff;
    background-color: #3556fb;
  }
  
  @media (min-width: 800px) {
    .banner .title {
      font-size: 65px;
    }
  }
  